@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
	color:#bbb;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width:0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*------------ 用户中心菜单三角icon ------------*/
.iconnav,.iconnavTwo{color:#ff7900;position:absolute;top:50%;left:50%;width:180px;margin-left:-90px;display:none;}
.iconview{font-size:26px;position:relative;top:2px;}
.icon_pla{font-size:50px;color:#fff;}
.icon_plb{font-size:35px;color:#fff;}
.icon_tip{font-size:60px;color:#ff7800;}
.icon_add{color:#ff6f3d;font-size:16px;}
.iconG{font-size:130px;color:#ff7266;}
.icon_money{font-size:30px;color:#ff7266;}
.icon_fund{font-size:100px;color:#fff;}
.icon_b{font-size:110px;}

/*------------ select高度兼容 ------------*/
.select{border:1px solid #ccc;line-height:22px;color:#666;margin:-1px;padding:4px 3px;font-size:13px;width:93px;*width:85px;*position:relative;}
.select_border{*background:#fff;*border:1px solid #ccc;*padding:4px;width:83px;margin:0 20px;}
.container{*border:0;*position:relative;*width:83px;*height:18px;*overflow:hidden;*background:#fff;}
.ie7pa{*position:absolute;}



/*------------ dl复用 ------------*/
.dlL dd,.ulL li,.ulL li img{float:left;}
.dlM dd{margin:0 15px;}
.dlMR dd{margin:0 7px;}
.dlC dd a{color:#cbcbcb;}

/*------------ header ------------*/
.topBox{height:32px;line-height:32px;}
.bf0{background:#f0f0f0;border-bottom:1px solid #dcdcdc;}

/*search*/
.logoBox{height:80px;left:50%;margin-left:-500px;}
.topSearch{width:303px;height:36px;line-height:36px;border:1px solid #dedede;background:#fff;color:#a9a9a9;right:0;}
.topSelect{width:60px;position:relative;}
.topSelect span{display:inline-block;width:0;height:0;border-style:solid dashed dashed;border-width:5px;border-color:#b5b5b5 transparent transparent;
overflow:hidden;zoom:1;font-size:0;right:0;top:45%;}
.inputBg{width:15px;height:15px;background:url(images/a_navbg.png);}
.textInput{width:190px;height:34px;line-height:34px;}
.selectMenu{top:35px;left:-1px;width:60px;border:1px solid #dedede;border-top:none;background:#fff;z-index:2;}
.selectMenu li:hover{background:#efefef;}

/*------------ banner ------------*/
.bannerScale{padding-left:42px;height:430px;}
.bannerScale li{margin:4px 0 0 4px;}
.bannerScale li img{width:100%;height:100%;}
.prTop{top:-108px;}

.videoBox li{width:235px;margin-right:18px;border:1px solid #ddd;}
.v_iconA{background:url(../images/icon_course.png) 0 2px no-repeat;}
.v_iconB{background:url(../images/icon_course.png) 0 -48px no-repeat;}
.v_iconC{background:url(../images/icon_course.png) 0 -98px no-repeat;}
.v_iconD{background:url(../images/icon_course.png) 0 -148px no-repeat;}
.v_btnBg{background:#fa7b72;color:#fff;padding:3px 10px;position:relative;top:-3px;}
.v_btnView{background:#e52b1d;color:#fff;padding:10px 20px;position:relative;top:-15px;}

.hdiv{background:#fff;opacity:0.9;filter:alpha(opacity=90); position:absolute;top:0;}





/*------------ hearder ------------*/
.t_layer{height:114px;}
.t_layer h1{padding-top:43px;}
.t_layer h1 .t_small{ position:relative;top:-12px;left:25px;}
.t_nav{right:0;bottom:11px;}
.t_nav li{padding:45px 0 0 15px;}
.t_nav li .t_btn{height:40px;line-height:40px;text-align:center;display:inline-block;padding: 0px 10px;}
.t_nav li .t_btn:hover{background:#38a5db;color:#fff;}
.t_nav li .t_user{color:#f00;padding-right:10px;}

.t_home{border:1px solid #38a5db;right:0;bottom:25px;}
.t_home a{width:100px;height:30px;line-height:30px;display:inline-block;color:#38a5db;}
.t_home a:hover{background:#38a5db;color:#fff;}

/*------------ 关于我们 ------------*/
.a_banner,.a_banner img{height:162px;}
.a_banner img{left:50%;margin-left:-960px;}

.a_nav li{text-align:center; position:relative;padding:20px 0;}
.a_nav li a{font-size:18px;display:inline-block;}
.a_nav li a:hover,.a_active{color:#ff5b21;}
.a_nav li .a_bgimg{position:absolute;right:-7px;top:38%;}
.a_navImg{top:40px;z-index:2;} /*兼容ie7 z-index*/
.a_navImg .a_bghover{position:absolute;right:-12px;}
.a_bgimgR{position:absolute;right:-12px;}

.a_content{border-left:1px solid #e9e9e9;padding:0;min-height:500px;}
.a_content .a_title{font-size:30px;border-bottom:1px solid #e9e9e9;padding:30px 0 15px 50px;color:#333;}

.f_url{color:#666;padding:0 20px;}
.f_url li a{padding:0 20px;}


/*------------ 注册会员 ------------*/
.r_content{height:475px;background:#fff;margin-top:40px;margin-bottom:40px;border:1px solid #c7c7c7;}
.r_content .r_title{width:200px;font-size:26px;color:#999;border-bottom:1px solid #d9d9d9;}

.t_base tr td{padding-bottom:20px;}
.t_base tr td .t_input,.t_base tr td .t_btn,.t_sub{height:40px;line-height:40px;color:#999;}
.t_base tr td .t_input{border:1px solid #d9d9d9;background:#fff;}
.t_base tr td .t_other:hover{background:#eee;text-decoration:underline;color:#666;}
.t_base tr .t_txt{color:#666;}
.t_base tr .t_txturl{color:#38a5db;}
.t_base tr .t_txturl:hover{color:#f00;text-decoration:underline;}


/*------------ 共同按钮色 注册 查看报告 ------------*/
.t_base tr td .t_sub,.v_btn dt a,.v_content .v_list li em a:hover,.b_circle:hover,.btn_color:hover,.f_btn a:hover{background:#ff6f3d;color:#fff;}
.t_base tr td .t_sub:hover,.v_btn dt a:hover,.v_content .v_list li em a,.b_circle,.btn_color,.f_btn a,.f_btn_a a{background:#ff7900;color:#fff;}
.t_base tr td .t_btn,.v_btn dd a,.pl_btn a,.a_btn,.v_content .pt_nav dd a:hover,.pt_active{background:#38a5db;color:#fff;}
.t_base tr td .t_btn:hover,.v_btn dd a:hover,.pl_btn a:hover,.a_btn:hover,.btnbase dd a:hover,.f_btn_a a:hover{background:#238bcb;color:#fff;}
.btnbase dd a:hover{border:1px solid #238bcb;}

/*------------ 共同定位 产品 规划 ------------*/
.p_content li a h1,.pl_icon h1{top:0;left:0;}


/*------------ 产品中心 ------------*/
.p_navbg{height:55px;line-height:55px;background:#238bcb;}
.p_navbg .p_navBox li{float:left;}
.p_navbg .p_navBox li a{width:180px;height:55px;display:inline-block;color:#fff;font-size:18px;}
.p_navbg .p_navBox li a:hover,.p_activebtn,.p_activebtnTwo{background:#ff7900;}

.p_subnavbg{height:40px;line-height:40px;}
.p_box{background:#ececec;overflow:hidden;}

.p_navurl{float:right;color:#666;}
.p_navurl li,.p_subnav dd{float:left;padding:0 5px;}
.p_navurl li a,.p_subnav dd a{display:inline-block;padding-right:7px;}
.p_navurl .p_active{color:#f00;}

.p_subnav{position:absolute;left:0;color:#666;}
.p_subnav dd{padding:0 8px;}
.p_subnav dd a{padding-right:16px;}
.p_content{left:25px;}
.p_content li{float:left;margin:30px 0 0 25px;}
.p_content li a{width:350px;height:350px;background:#fff;}
.p_content li a:hover{box-shadow:5px 5px 15px #999;}

.p_content li a h2,.p_content li a p{width:350px;left:50%;margin-left:-175px;}
.p_content li a h2{top:30%;}
.p_content li a p{bottom:60px;font-size:18px;}


/*------------ 理财规划 ------------*/
.pl_content{background:#f3f9ff;overflow:hidden;}
.pl_content:hover{box-shadow:5px 5px 15px #999;}
.pl_icon h2,.pl_icon p{width:100%;text-align:center;}
.pl_icon h2{top:30%;}
.pl_icon p{top:60%;font-size:18px;}
.pl_icon p span{top:5px;}

.pl_infoA{background:#fff;color:#666;}
.pl_infoA .pl_txt{line-height:40px;}
.pl_infoA .pl_txt span{color:#238bcb;}
.pl_infoA .pl_num dd span{width:100px;height:10px;margin-right:10px;}
.pl_infoA .pl_num dd em{*position:relative;*top:3px;}

.pl_type li p{width:75px;height:75px;line-height:75px;}
.pl_type li .pl_circleA{background:#38a5db;}
.pl_type li .pl_circleB{background:#ffa726;}
.pl_type li .pl_circleC{background:#26c7d9;}
.pl_assets,.pl_ratio{width:200px;}
.pl_assets dd{width:50%;padding:2px 0;}
.pl_assets .pl_scaleA,.pl_work .pl_scaleA{background:#ff7900;color:#fff;}
.pl_assets .pl_scaleB,.pl_work .pl_scaleB{background:#eee;color:#ff7900;}
.pl_ratio{margin-top:20px;*margin-top:16px;}
.pl_ratio dd{line-height:30px;}

.pl_work dd{padding:2px 10px;}
.pl_work .pl_scaleA,.pl_work .pl_scaleB{padding:2px 50px 2px 10px;}

.pl_btn{position:absolute;top:45%;left:40%;}
.pl_btn a{padding:7px 25px;}

.t_tableA tr th,.t_tableA tr td{text-align:center;padding:12px;}
.t_tableA tr th,.t_tableA tr td{border:1px solid #fff;width:10%;}
.t_tableA tr td{background:#f1f2f4;}
.t_tableA tr th,.t_tableB tr th{font-weight:bold;font-size:16px;}
.t_tableA tr th{background:#bbb;color:#fff;}

.t_tableB tr th,.t_tableB tr td{border:1px solid #fff;text-align:center;}
.t_tableB tr td{background:#f1f2f4;padding:12px;}
.t_tableB tr th{text-align:left;padding:12px 0;}

.t_tableB tr .td_typeA{background:#ffa200;color:#fff;}
.t_tableB tr .td_typeB{background:#bbb;color:#fff;}

.t_tableC tr td{padding:8px 0;border:1px solid #fff;}
.t_tableC .tr_odd{background:#f1f2f4;}

.icon_custom{width:110px;height:110px;background:#7761ba;color:#fff;}
.icon_custom dd{position:relative;top:-5px;}
.pl_custom{left:28%;*left:0%;}

.a_btn{padding:7px 25px;}



/*------------ 查看报告 ------------*/
.v_tip{height:138px;background:url(../images/v_tipBg.png) center top no-repeat;}
.v_btn{margin:0 auto;width:530px;padding-top:47px;}
.v_btn dt,.v_btn dd{float:left;margin-right:30px;}
.v_btn dt a,.v_btn dd a,.f_btn a{width:230px;height:45px;line-height:45px;display:inline-block;}

.v_content{min-height:500px;background:#fff url(../images/v_img.png) center 90% no-repeat;}
.v_content .v_nav dt{width:195px;padding:13px 0;color:#38a5db;margin-bottom:-1px; position:relative;left:45px;}
.v_content .v_list li{height:55px;line-height:55px;font-size:16px;color:#666;}
.v_content .v_list li p{text-indent:20px;}
.v_content .v_list li p i{padding-right:10px;}
.v_content .v_list li em{float:right;margin-right:2%;*margin-top:15px;}
.v_content .v_list li em a,.b_circle{width:80px;height:30px;line-height:30px;display:inline-block;font-size:14px;}

.v_content .s_txt{background:#f3f9ff;}
.v_content .s_list{background:#fff2d5;}
.s_money{left:50px;}
.s_mspan{top:3px;}
.s_circle{width:150px;height:150px;border:6px solid #fff;line-height:150px;}
.s_Imgbtn{border:1px solid #edeef2;overflow:hidden;width:998px;padding:5px 0;}
.s_Imgbtn a,.d_Imgbtn a{width:140px;height:45px;background:url(../images/s_urla.png) no-repeat;}
.s_Imgbtn a{right:150px;top:61px;}
.d_Imgbtn a{right:99px;top:76px;}
.s_Imgbtn a:hover,.d_Imgbtn a:hover{background:url(../images/s_urlh.png) no-repeat;}
.s_iedit{width:140px;height:30px;line-height:30px;}

.s_btn{left:50%;bottom:30px;margin-left:-107px;}
.s_btn a{width:214px;height:50px;background:url(../images/s_infobtnh.png);}
.s_btn a:hover{background:url(../images/s_infobtn.png);}


/*------------ 填写理财报告 ------------*/
.v_content .pt_nav dd{position:relative;left:45px;margin-right:1px;background:#ececec;}
.v_content .pt_nav dd a{width:195px;padding:13px 0;}
.clearBg{background:#fff;}
.pt_tip{line-height:138px;color:#ff7800;}
.pt_tip em{position:relative;top:-10px;left:10px;}

.t_ptlist{color:#666;}
.t_ptlist tr td{font-size:16px;padding-bottom:30px;}
.t_ptlist tr .th_title{border-bottom:1px solid #d9d9d9;font-size:18px;padding-bottom:10px;}
.v_clearBg{background:none;}
.t_ptlist tr .td_a{color:#38a5db;}
.t_ptlist tr .td_a:hover{color:#238bcb;}
.t_ptlist tr td label{height:40px;line-height:40px;}
.t_ptlist tr td .t_span{margin-right:10px;font-size:22px;}
.t_lia li,.f_lia li{float:left;}
.t_lia li{background:#f9f9f9;margin:0 8px;}
.t_lia li a,.f_lia li a{display:inline-block;border:1px solid #d9d9d9;}
.t_lia li a{padding:10px 0;font-size:16px;}
.t_lia li a:hover,.t_liactive{background:#238bcb url(../images/p_libg.png) right bottom no-repeat;color:#fff;border:1px solid #238bcb;}
.f_lia li{margin:15px 0 0 15px;}
.f_lia li a{padding:8px 10px;width:76px;}
.f_lia li a:hover{border:1px solid #238bcb;color:#238bcb;}


/*------------ 首页 ------------*/
.d_bg{background:url(../images/d_bg.png);height:4px;}

#wrapper{width:1920px;height:450px;position:relative;left:50%;margin-left:-960px;background:#38a5db;}
#banner{position:relative;width:1920px;height:450px;overflow:hidden;}
.imgList{position:absolute;width:5760px;height:450px;z-index:10;}
.imgList li{float:left;width:1920px;height:450px;*overflow:hidden;*position:relative;}
#prev,#next{position:absolute;top:205px;z-index:20;cursor:pointer;opacity:0.2;filter:alpha(opacity=20);}
#prev{left:20px;}
#next{right:20px;}
#prev:hover,#next:hover{opacity:0.5;filter:alpha(opacity=50);}

/*.d_atxta{top:115px;left:0px;}
.d_btxta{top:115px;left:100px;}
.d_atxtb{top:125px;}
.d_atxtbtn{top:150px;left:430px;}
.d_btxtbtn{top:193px;left:330px;}
.d_atxtbtn a,.d_btxtbtn a{width:150px;height:52px;border:2px solid #fff;line-height:52px;color:#fff;display:inline-block;}
.d_atxtbtn a:hover,.d_btxtbtn a:hover{background:#fff;color:#38a5db;}
.d_atxtc{right:100px;top:36px;}
.d_btxtc{right:0;top:36px;}*/

.d_atxta,.d_btxta,.d_ctxta{top:115px;opacity:0;filter:alpha(opacity=0);}
.d_atxta,.d_btxta{left:-2000px;}
.d_ctxta{right:-800px;}

.d_atxtb{top:125px;left:-1200px;opacity:0;filter:alpha(opacity=0);}
.d_atxtbtn{top:-1050px;left:430px;}
.d_btxtbtn,.d_ctxtbtn{top:-1050px;}
.d_btxtbtn{left:330px;}
.d_ctxtbtn{left:600px;}

.d_atxtbtn a,.d_btxtbtn a,.d_ctxtbtn a{width:150px;height:52px;border:2px solid #fff;line-height:52px;color:#fff;display:inline-block;}
.d_atxtbtn a:hover,.d_btxtbtn a:hover,.d_ctxtbtn a:hover{background:#fff;color:#38a5db;}
.d_atxtc,.d_btxtc,.d_ctxtc{top:36px;opacity:0;filter:alpha(opacity=0);}
.d_atxtc,.d_btxtc{right:-500px;}
.d_ctxtc{left:-500px;}

.d_info{color:#666;}
.d_info dd span{top:2px;}

.d_fixed{position:fixed;bottom:0;left:0;background:#fff;}
.d_fixed .d_imgnav li{float:left;text-align:center; position:relative;}
.d_fixed .d_imgnav li a{width:160px;height:150px;border:1px solid #ebebeb;display:inline-block;padding:15px 0;opacity:0.7;filter:alpha(opacity=70);}
.d_fixed .d_imgnav li a:hover{color:#333;opacity:1;filter:alpha(opacity=100);}
.d_fixed .d_imgnav li a img{position:relative;top:10px;}
.d_fixed .d_imgnav li a p{position:absolute;bottom:15px;width:100%;left:0;}

.d_title{top:200px;}
.d_num{right:20px;top:32px;}
.d_more{right:20px;top:45px;}
.d_img_more{right:10px;top:0;}
.d_img_more a{display:inline-block;background:url(../images/d_more.png) no-repeat;width:70px;height:35px;}
.d_img_more a:hover{background:url(../images/d_moreh.png) no-repeat;}


/*------------ 交易记录 ------------*/
.t_th tr th,.t_th tr td{padding:20px 10px;color:#666;border:1px solid #e8e8e8;text-align:center;}
.t_th tr th{background:#f2f2f2;}
.d_imgnav img{width: 100px;}
.submit{width: 230px;height: 45px;line-height: 45px;display: inline-block;background: #ff6f3d;color: #fff;}

/*------------新闻列表------------*/
.new_Content li{height:240px;margin:0 auto;border-bottom:1px solid #e1e1e1;}
.new_Content li:last-child {border:none;}
.new_Content li a{width:100%;display:inline-block;height:240px;cursor:pointer;}
.new_Content li a:hover{background:#f7fcfe;color:black;}
.new_Img{width:280px;float:left;}
.new_Img h1{text-align:center;margin:0 auto;position:relative;top:25px;}
.new_Img h1 img{padding-top:10px;width:230px;height:170px;float:right;}
.new_Info{position:relative;overflow:hidden;padding:35px 30px 0 20px;}
.new_Info dt{font-size:18px;color:#0088cc;padding-bottom:10px;}
.new_Info dd span{display:inline-block;padding-left:30px;padding-bottom:15px;}
.new_Info dd{line-height:160%;color:#777;}

/*------------新闻详情------------*/
.newBox{padding:30px 50px;}
.newBox h1{color:#333;}
.newBox h6{border-bottom:1px solid #e9e9e9;text-align:center;padding-bottom:8px;}
.newBox h6 span{display:inline-block;padding:0 50px 0 5px;color:#ff9900;}
.infoEdit{line-height:180%;min-height:300px;}
.newPage {padding-bottom:30px;}
.newPage li{float:right;margin-right:10px;background:#ff9900;}
.newPage li a{display:inline-block;padding:5px 10px;color:White;}
.newPage li a:hover{color:White;background:#ff6600;}

/*------------易选基金------------*/
.f_pr10{top:-11px;}
.f_btn a{width:280px;}
.circleB{border:6px solid #e8e6e6;}
.f_btn_a a{width:150px;height:40px;line-height:40px;display:inline-block;}
.f_box li{position:relative;left:50px;padding:10px 0;}

.f_navcell{position:absolute;right:20px;bottom:-1px;}
.f_nav li a,.f_navTab li a{padding:7px 10px;width:70px;border:1px solid #ececec;}
.f_nav li a:hover,.f_active,.f_activeTab{border:1px solid #238bcb !important;color:#238bcb;border-bottom:none !important;}
.f_active,.f_activeTab{border-bottom:1px solid #fff !important;}

.f_table{border:1px solid #ddd;border-bottom:none;color:#666;}
.f_table th{background:#f7f7f7;text-align:center;font-weight:bold;color:#333;}
.f_table th,.f_table td{padding:8px;border-bottom:1px solid #ddd;}
.f_table tr td span{display:inline-block;margin-right:8px;width:20px;height:10px;*position:relative;*top:-5px;}
.cfcc954{background:#fcc954;}
.c58b5e1{background:#58b5e1;}
.c92cf68{background:#92cf68;}
.cc066a6{background:#c066a6;}
.cf7774a{background:#f7774a;}
.cfa6567{background:#fa6567;}


.f_num{border-bottom:1px solid #ececec;}
.f_num li{float:left;width:213px;padding:10px 0;position:relative;cursor:pointer;}
.f_num li span{color:#f00;font-size:16px;}

.h_char,.h_charA{width:605px;padding:25px 15px;}
.h_char{border:1px solid #e9e9e9;}

.f_Earnings{padding:20px 0 0 30px;}
.f_Earnings li{margin-right:50px;}
.f_Earnings li span{width:12px;height:12px;margin-right:5px;*position:relative;*top:-5px;}


/*------------ 带箭头提示框 ------------*/
.tipview{z-index:2;position:relative;}
.tipbox{width:200px;height:auto;border:1px solid #ff9900; border-radius:5px;background:#fff;position:absolute;z-index:2;top:40px;left:0;}
.a1,.a2{width:0;height:0;overflow:hidden; border-width:10px; border-style:dotted dotted solid;position:absolute;}
.abox{position: absolute; width:20px; height: 20px; left:20px; top:-20px}
.a1{border-color:transparent transparent #ff9900;  top:-1px}
.a2{border-color:transparent transparent #FFFFFF;  top:0}


.win_Info{width:400px;height:auto;background:white;position:absolute;z-index:2;padding:40px 30px 30px;}
.win_Info .win_Close{position:absolute;top:0px;right:0px;width:30px;height:30px;cursor:pointer;line-height:30px;color:#fff;background:#ff7900;}
.win_Close:hover{background:#ff6f3d;}
.win_Info p{width:400px;height:45px;margin:0 auto;padding-top:20px;}
.win_Btn{width:200px;height:45px;line-height:45px;background:#38a5db;color:#fff;}
.win_Btn:hover{background:#238bcb;color:#fff;}
.win_mask{width:100%;background:#000;position:absolute;top:0;left:0;opacity:0.6;filter:alpha(opacity=60);z-index:1;}